/* 
███████╗██╗░░░██╗███████╗███╗░░██╗████████╗███████╗░██████╗
██╔════╝██║░░░██║██╔════╝████╗░██║╚══██╔══╝██╔════╝██╔════╝
█████╗░░██║░░░██║█████╗░░██╔██╗██║░░░██║░░░█████╗░░╚█████╗░
██╔══╝░░██║░░░██║██╔══╝░░██║╚████║░░░██║░░░██╔══╝░░░╚═══██╗
██║░░░░░╚██████╔╝███████╗██║░╚███║░░░██║░░░███████╗██████╔╝
╚═╝░░░░░░╚═════╝░╚══════╝╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═════╝░ */



/* Estilos generales de fuente personalizada */
@font-face {
    font-family: 'Angas Bold'; 
    src: url('Fonts/angas/angas_v3_bold_italic.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}



/* 
██████╗░░█████╗░░██████╗░██╗███╗░░██╗░█████╗░
██╔══██╗██╔══██╗██╔════╝░██║████╗░██║██╔══██╗
██████╔╝███████║██║░░██╗░██║██╔██╗██║███████║
██╔═══╝░██╔══██║██║░░╚██╗██║██║╚████║██╔══██║
██║░░░░░██║░░██║╚██████╔╝██║██║░╚███║██║░░██║
╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚═╝╚═╝░░╚══╝╚═╝░░╚═╝

██████╗░██████╗░██╗███╗░░██╗░█████╗░██╗██████╗░░█████╗░██╗░░░░░
██╔══██╗██╔══██╗██║████╗░██║██╔══██╗██║██╔══██╗██╔══██╗██║░░░░░
██████╔╝██████╔╝██║██╔██╗██║██║░░╚═╝██║██████╔╝███████║██║░░░░░
██╔═══╝░██╔══██╗██║██║╚████║██║░░██╗██║██╔═══╝░██╔══██║██║░░░░░
██║░░░░░██║░░██║██║██║░╚███║╚█████╔╝██║██║░░░░░██║░░██║███████╗
╚═╝░░░░░╚═╝░░╚═╝╚═╝╚═╝░░╚══╝░╚════╝░╚═╝╚═╝░░░░░╚═╝░░╚═╝╚══════╝ */





/* Estilos específicos de la página principal */
body.paginaprincipal {
    font-family: 'angas bold', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('/LinuxDataBaseWeb/images/motivacion.jpg') !important;
    background-position: center top; /* Cambia a top para que la imagen choque con la parte superior */
    background-size: 100%; /* Cambia a auto 100% para ajustarse al ancho y chocar con la altura */
    background-repeat:no-repeat;
}


header.paginaprincipal {
    background-color: black;
    padding: 1px;
    text-align: center;
    color: white;
}

.logo {
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 1;
    width: 300px; /* Ajusta el valor según el tamaño deseado */
    height: auto;
}

.center-text {
    font-family: 'Merriweather', serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    z-index: 1;
    backdrop-filter: blur(20px); /* Ajusta el valor del desenfoque según tu preferencia */
    border-radius: 10px; /* Ajusta según sea necesario */
    padding-inline: 50px; /* Reduje el espacio alrededor del texto */
    white-space: nowrap; 
    border-radius: 100px;/* Hace que las palabras no se dividan en varias líneas */
}


.background-separator {
    height: 900px;
    background-color: transparent;
    position: relative; /* Cambia a relative en lugar de absolute */
    z-index: 0; /* Ajusta el índice z según sea necesario */
}

.sub-link {
    font-size: 25px;
}
