
/* 
███████╗██╗░░░██╗███████╗███╗░░██╗████████╗███████╗░██████╗
██╔════╝██║░░░██║██╔════╝████╗░██║╚══██╔══╝██╔════╝██╔════╝
█████╗░░██║░░░██║█████╗░░██╔██╗██║░░░██║░░░█████╗░░╚█████╗░
██╔══╝░░██║░░░██║██╔══╝░░██║╚████║░░░██║░░░██╔══╝░░░╚═══██╗
██║░░░░░╚██████╔╝███████╗██║░╚███║░░░██║░░░███████╗██████╔╝
╚═╝░░░░░░╚═════╝░╚══════╝╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═════╝░ */


/* Vincula la fuente personalizada */
/* @font-face {
    font-family: 'Glitch Smasher'; 
    src: url('Fonts/glitch-smasher-font/GlitchSmasherDemo-K7KZZ.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
} */


@font-face {
    font-family: 'Angas Bold'; 
    src: url('Fonts/angas/angas_v3_bold_italic.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}



/*
██████╗░███████╗██████╗░███████╗██╗██╗░░░░░  ██╗░░░██╗░██████╗██╗░░░██╗░█████╗░██████╗░██╗░█████╗░
██╔══██╗██╔════╝██╔══██╗██╔════╝██║██║░░░░░  ██║░░░██║██╔════╝██║░░░██║██╔══██╗██╔══██╗██║██╔══██╗
██████╔╝█████╗░░██████╔╝█████╗░░██║██║░░░░░  ██║░░░██║╚█████╗░██║░░░██║███████║██████╔╝██║██║░░██║
██╔═══╝░██╔══╝░░██╔══██╗██╔══╝░░██║██║░░░░░  ██║░░░██║░╚═══██╗██║░░░██║██╔══██║██╔══██╗██║██║░░██║
██║░░░░░███████╗██║░░██║██║░░░░░██║███████╗  ╚██████╔╝██████╔╝╚██████╔╝██║░░██║██║░░██║██║╚█████╔╝
╚═╝░░░░░╚══════╝╚═╝░░╚═╝╚═╝░░░░░╚═╝╚══════╝  ░╚═════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░╚════╝░ */

/* Estilos perfilusuario.php */

body.perfilusuario {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

